<div class="social-icons" style="text-align:center; margin: 20px 0;">
  <a href="mailto:{{ site.email }}" title="Email" style="margin:0 10px;">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/gmail.svg" width="24" />
  </a>
  <a href="https://github.com/{{ site.github_username }}" title="GitHub" style="margin:0 10px;">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/github.svg" width="24" />
  </a>
  <a href="{{ site.google_scholar }}" title="Google Scholar" style="margin:0 10px;">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/googlescholar.svg" width="24" />
  </a>
  <a href="{{ site.linkedin }}" title="LinkedIn" style="margin:0 10px;">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" width="24" />
  </a>
</div>
